body {
  margin: 5;
  font-family: serif;
  padding: 2%;
}

.abilityTable td, .abilityTable th {
  padding-right: 5%;
}

.abilityInput {
  width: 50px;
}

.starterTable td {
  width: 100px;
  max-height: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}